<h2>About Sugar and Spice Blog</h2>

<p>Hi there! My name is Niki and this is my baby... I mean blog. This little blog has become my passion project. I love to try new recipes and share them with you. I have been writing this blog for 2 years now Thank you so much for checking out Sugar and Spice. It means so much to me that you stopped by. So, find a recipe or two and share your creations</p>

{{#link-to 'contact'}}Contact{{/link-to}}
